<div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
  <div class="mb-3">
    <%= link_to "< Back to Habits", root_path, class: "text-indigo-600 hover:text-indigo-900 underline" %>
  </div>
  <div>
    <%= render 'form', habit: @habit %>
  </div>
</div>
